<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>




    <table class="job-listing">
        <tr th:each="item : ${jobs}">

            <td>
                <p>ID: <span th:text="${item.getId()}"></span></p>
                <p>Name: <span th:text="${item.getName()}"></span></p>
                <p>Employer: <span th:text="${item.getEmployer().getValue()}"></span></p>
                <p>Location: <span th:text="${item.getLocation().getValue()}"></span></p>
                <p>Position Type: <span th:text="${item.getPositionType().getValue()}"></span></p>
                <p>Skill: <span th:text="${item.getCoreCompetency().getValue()}"></span></p>
            </td>
        </tr>
    </table>

</div>

</body>
</html>